---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
    <section class='mb-12'>
		<h1 class='text-2xl font-bold mb-6 border-b pb-2'>
		References and more info
		</h1>
		<p class='text-lg'>
		This is a page of references and more info
		</p>
	</section>
</Layout>
