---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import Hero from '@/components/ui/Hero.astro'
import Grid from '@/components/ui/Grid.astro'
import ArticleList from '@/components/ui/ArticleList.astro'
import { useTranslations, getCvTranslations, type Locale } from '@/i18n/translations'

const { fullName, title, institute, research_areas } = profile
const currentLocale = (Astro.currentLocale || 'es') as Locale
const t = useTranslations(currentLocale)
const cvData = getCvTranslations(currentLocale)

---

<Layout>
	<!-- Hero Section -->
	<section class='flex items-center gap-12 border-b pb-12'>
		<Hero
			fullName={fullName}
		/>
	</section>

	<!-- Research Areas -->
	<!-- <section class='py-12 border-b'>
		<Grid gridTitle={t('home.researchAreas')} gridItems={research_areas} />
	</section> -->
   <section>
       <h2 class='text-2xl font-bold mb-6 border-b pb-2'>
		Presentation
		</h2>
		<iframe src="https://1drv.ms/p/c/69caa13ad4e5ca71/IQTl4CQq63QMSK1jrCZObJQMASAB0YO86vvOZ8VPsCYcgiw?em=2&amp;wdAr=1.7777777777777777&amp;wdEaaCheck=1" width="600px" height="380px" frameborder="0"></iframe>
   </section>
	<!-- Recent Publications -->
	<!-- <section class='py-12 border-t'>
		<ArticleList listTitle={t('home.recentPublications')} listItems={cvData.publications} />
	</section> -->
</Layout>
