---
import { profile } from '../../settings'
import { Icon } from 'astro-icon/components'
const { fullName } = profile
---

<footer class='footer footer-center bg-base-100 text-base-content px-4 py-8'>
		<div class='flex flex-row items-center gap-2'>
		 Made with <Icon name="material-symbols:coffee" /> and <Icon name="mdi:love" /> {new Date().getFullYear()}
		</div>
</footer>
